<div id="faxian">
  <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/31.png">
       <div class="renming">
         <span class="name">朋友圈</span>
       </div>
    </div>
 </div>
 <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/32.png">
       <div class="renming">
         <span class="name">扫一扫</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/33.png">
       <div class="renming">
         <span class="name">摇一摇</span>
       </div>
    </div>
 </div>
 <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/34.png">
       <div class="renming">
         <span class="name">附近的人</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/35.png">
       <div class="renming">
         <span class="name">漂流瓶</span>
       </div>
    </div>
 </div>
 <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/36.png">
       <div class="renming">
         <span class="name">购物</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/37.png">
       <div class="renming">
         <span class="name">游戏</span>
       </div>
    </div>
 </div>
 </div>