<div id="lianxiren">
     <div class="tive">
     <span class="daxie">A</span>
     <div class="zuo1">
       <img src="./image/11.png">
       <div class="renming">
         <span class="name">A0车族 郑</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/12.png">
       <div class="renming">
         <span class="name">A Me就是我</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/13.png">
       <div class="renming">
         <span class="name">安然</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/14.png">
       <div class="renming">
         <span class="name">A-Sagittarius</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/15.png">
       <div class="renming">
         <span class="name">Asunny-Ren</span>
       </div>
    </div>
   </div>
      <div class="tive">
     <span class="daxie">B</span>
     <div class="zuo1">
       <img src="./image/1.png">
       <div class="renming">
         <span class="name">布若尼</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/2.png">
       <div class="renming">
         <span class="name">冰山</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/3.png">
       <div class="renming">
         <span class="name">波士顿</span>
       </div>
    </div>
   </div>
      <div class="tive">
     <span class="daxie">C</span>
     <div class="zuo1">
       <img src="./image/4.png">
       <div class="renming">
         <span class="name">刘小雅</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/5.png">
       <div class="renming">
         <span class="name">刘小雅</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/2.png">
       <div class="renming">
         <span class="name">刘小雅</span>
       </div>
    </div>
  </div>
</div>