<div id="wo">
  <div class="tive">
     <span class="daxie"></span>
     <li id="tiao">
    <div class="zuo">
          <img src="./image/41.png">
          <div class="xinxi">
            <span class="name">随风</span>
            <span class="content">微信号:yjb121000</span>
          </div>
          <img id="erweima" src="./image/48.png">
      </div>
  </li>
 </div>
 <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/42.png">
       <div class="renming">
         <span class="name">相册</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/43.png">
       <div class="renming">
         <span class="name">收藏</span>
       </div>
    </div>
 </div>
 <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/44.png">
       <div class="renming">
         <span class="name">钱包</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/45.png">
       <div class="renming">
         <span class="name">卡券</span>
       </div>
    </div>
 </div>
 <div class="tive">
     <span class="daxie"></span>
     <div class="zuo1">
       <img src="./image/46.png">
       <div class="renming">
         <span class="name">表情</span>
       </div>
    </div>
    <div class="zuo1">
       <img src="./image/47.png">
       <div class="renming">
         <span class="name">设置</span>
       </div>
    </div>
 </div>
 </div>