<footer id="footer">
	<ul>
		<li><a href="#/weixin" class="active" ng-class="{active:title=='微信'}" ng-click="title='微信'" ><span>&#xe600;</span><span class="ziti">微信</span></a></li>
		<li><a href="#/lianxiren" ng-class="{active:title=='联系人'}" ng-click="title='联系人'" ><span>&#xe621;</span><span class="ziti">联系人</span></a></li>
		<li><a href="#/faxian" ng-class="{active:title=='发现'}" ng-click="title='发现'" ><span>&#xe607;</span><span class="ziti">发现</span></a></li>
		<li><a href="#/wo" ng-class="{active:title=='我'}" ng-click="title='我'"><span>&#xe60a;</span><span class="ziti">我</span></a></li>
	</ul>
</footer>
